body  {
    background: rgb(255,235, 205);
    color: rgb(165,42,42);
    margin: 0px;
    margin-bottom: 50px;
}

header  {
    font-size: 20px;
    color: brown;
    border-bottom: solid 3px blanchedalmond;
    padding: 20px;
    font-family: "New Amsterdam", sans-serif;
    font-size: 70px;
}


.chama-video-intro  {
    background: rgb(237 184 145);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: stretch;
}



.chama-texto  {
margin-right: 20px;

}

h2  {
    font-family: "New Amsterdam", sans-serif;
    font-size: 46px;

}

p  {
    font-family: "Stylish", serif;
    font-size: 36px;
    
}

img  {
height: 200px;

}

.indicacao-filmes  {
display: flex;
overflow-x: auto;
gap: 20px;

}

.sugestoes  {
padding-left: 20px;
padding-right: 20px;

}

h3  {
    font-family: "Honk", system-ui;
    font-size: 44px;
    margin-top: 15px;
    margin-bottom: 15px;

}


.indicacao-filmes img  {
opacity: 0.5;

}

.indicacao-filmes img:hover  {
opacity: 1;
border: solid yellow 4px;

}


footer  {
background: radial-gradient(#da0f0fa6, transparente);
width: 100%;
bottom: 0px;
position: fixed;
height: 29px;
}

footer p  {
font-size: 30px;
color: rgb(182, 92, 77);
text-align: center;
font-family: "New Amsterdam", sans-serif;
margin-top:0px;
}